In [32]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\jittabun\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\jittabun\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [33]:
import pyspark

In [34]:
import pandas as pd
df = pd.read_csv('Book1.csv')

In [35]:
from pyspark.sql import SparkSession

In [36]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [37]:
spark

In [38]:
df_pyspark = spark.read.csv('test1.csv')

In [39]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [40]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [41]:
df_pyspark.head(3)

[Row(Name='Krish', age='31', Experience='10'),
 Row(Name='Sudhansh', age='30', Experience='8'),
 Row(Name='Sunny', age='29', Experience='4')]

In [42]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [43]:
df['Experience2'] = df['Experience'] + 2
df.head()

       Name  age  Experience  Experience2
0     Krish   31          10           12
1  Sudhansh   30           8           10
2     Sunny   29           4            6