In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845515 sha256=2023ec69d28566caa2f09d2289eb969dd6ffaac626386b478eaa5bafeeaf3ed1
  Stored in directory: c:\users\jittabun\appdata\local\pip\cache\wheels\43\dc\11\ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
import pyspark

In [17]:
import pandas as pd
df = pd.read_csv('Book1.csv')

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark

In [9]:
df_pyspark = spark.read.csv('Book1.csv')

In [13]:
df_pyspark = spark.read.option('header','true').csv('Book1.csv')

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head(3)

[Row(Name ='Krish', age='31'),
 Row(Name ='Sudhansh', age='30'),
 Row(Name ='Sunny', age='29')]

In [16]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- age: string (nullable = true)

In [19]:
df['Experience2'] = df['Experience'] + 2
df.head()

       Name  age  Experience  Experience2
0     Krish   31          10           12
1  Sudhansh   30           8           10
2     Sunny   29           4            6