In [87]:
from pyspark.sql import SparkSession

In [88]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [89]:
spark

In [90]:
## read the dataset
df_pyspark = spark.read.option('header','true').csv('test1.csv',inferSchema = True)

In [91]:
###check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [92]:
df_pyspark = spark.read.csv('Book1.csv' , header = True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [93]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [94]:
df_pyspark.columns

['Name', 'age', 'Experience']

In [95]:
df_pyspark.head(3)

[Row(Name='Krish', age=31, Experience=10),
 Row(Name='Sudhansh', age=30, Experience=8),
 Row(Name='Sunny', age=29, Experience=4)]

In [96]:
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|   Krish| 31|        10|
|Sudhansh| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

In [97]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [98]:
df_pyspark.select(['Name' , 'Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Krish|        10|
|Sudhansh|         8|
|   Sunny|         4|
+--------+----------+

In [99]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [100]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Krish|  29|                4|
|    max|Sunny|  31|               10|
+-------+-----+----+-----------------+

In [101]:
### Adding Columns in data frame
df_pyspark = df_pyspark.withColumn('Experience After 2 year' , df_pyspark['Experience'] + 2)

In [102]:
df_pyspark.show()

+--------+---+----------+-----------------------+
|    Name|age|Experience|Experience After 2 year|
+--------+---+----------+-----------------------+
|   Krish| 31|        10|                     12|
|Sudhansh| 30|         8|                     10|
|   Sunny| 29|         4|                      6|
+--------+---+----------+-----------------------+

In [103]:
### drop column
df_pyspark.drop('Experience After 2 year')

DataFrame[Name: string, age: int, Experience: int]

In [104]:
##$ Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+-----------------------+
|New Name|age|Experience|Experience After 2 year|
+--------+---+----------+-----------------------+
|   Krish| 31|        10|                     12|
|Sudhansh| 30|         8|                     10|
|   Sunny| 29|         4|                      6|
+--------+---+----------+-----------------------+