In [43]:
import pyspark

In [44]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [45]:
df_pyspark = spark.read.csv('test2.csv',header = True , inferSchema=True)

In [46]:
df_pyspark.show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|dsfFDS|  31|        10| 30000|
|   DVS|  30|         8| 25000|
| aFDSF|  29|         4| 20000|
|   ASD|  24|         3| 20000|
|   DSG|  21|         1| 15000|
|   SDG|  23|         2| 18000|
|  BFSB|null|      null| 40000|
|  null|  34|        10| 38000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [47]:
##drop the columns
df_pyspark.show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|dsfFDS|  31|        10| 30000|
|   DVS|  30|         8| 25000|
| aFDSF|  29|         4| 20000|
|   ASD|  24|         3| 20000|
|   DSG|  21|         1| 15000|
|   SDG|  23|         2| 18000|
|  BFSB|null|      null| 40000|
|  null|  34|        10| 38000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [48]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|dsfFDS| 31|        10| 30000|
|   DVS| 30|         8| 25000|
| aFDSF| 29|         4| 20000|
|   ASD| 24|         3| 20000|
|   DSG| 21|         1| 15000|
|   SDG| 23|         2| 18000|
+------+---+----------+------+

In [49]:
### any == how
df_pyspark.na.drop(how ='any').show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|dsfFDS| 31|        10| 30000|
|   DVS| 30|         8| 25000|
| aFDSF| 29|         4| 20000|
|   ASD| 24|         3| 20000|
|   DSG| 21|         1| 15000|
|   SDG| 23|         2| 18000|
+------+---+----------+------+

In [50]:
## threshold
df_pyspark.na.drop(how = "any" , thresh=2).show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|dsfFDS|  31|        10| 30000|
|   DVS|  30|         8| 25000|
| aFDSF|  29|         4| 20000|
|   ASD|  24|         3| 20000|
|   DSG|  21|         1| 15000|
|   SDG|  23|         2| 18000|
|  BFSB|null|      null| 40000|
|  null|  34|        10| 38000|
+------+----+----------+------+

In [51]:
##Subset
df_pyspark.na.drop(how = "any" , subset = ['Experience']).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|dsfFDS| 31|        10| 30000|
|   DVS| 30|         8| 25000|
| aFDSF| 29|         4| 20000|
|   ASD| 24|         3| 20000|
|   DSG| 21|         1| 15000|
|   SDG| 23|         2| 18000|
|  null| 34|        10| 38000|
+------+---+----------+------+

In [52]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Experience','Name']).show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|        dsfFDS|  31|        10| 30000|
|           DVS|  30|         8| 25000|
|         aFDSF|  29|         4| 20000|
|           ASD|  24|         3| 20000|
|           DSG|  21|         1| 15000|
|           SDG|  23|         2| 18000|
|          BFSB|null|      null| 40000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      null|  null|
+--------------+----+----------+------+

In [53]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age','Experience','Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['age','Experience','Salary']]
).setStrategy("mean") # change to media mode

In [54]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|dsfFDS|  31|        10| 30000|         31|                10|         30000|
|   DVS|  30|         8| 25000|         30|                 8|         25000|
| aFDSF|  29|         4| 20000|         29|                 4|         20000|
|   ASD|  24|         3| 20000|         24|                 3|         20000|
|   DSG|  21|         1| 15000|         21|                 1|         15000|
|   SDG|  23|         2| 18000|         23|                 2|         18000|
|  BFSB|null|      null| 40000|         28|                 5|         40000|
|  null|  34|        10| 38000|         34|                10|         38000|
|  null|  36|      null|  null|         36|                 5|         25750|
+------+----+----------+------+-----------+------------------+--------------+